/* styles.css */

/* 사용자 정의 클래스명으로 스타일을 적용 */
.custom-select {
  width: 92px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

.custom-select:focus {
  border-color: #D9D9D9;
}
