/* MonthControlButton.css */
.custom-button {
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  align-items: center;
}
